.navbar {
  width: 100%;
  height: 25px;
  padding-bottom: 5px;
  background-color: #e52a6f;
  margin-bottom: 0;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-size: 24px;
  font-family: Karla, Helvetica Neue;
  margin: 0 15;
}

.navbar-default {
  background-color: #e52a6f !important;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar .navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-brand {
  color: white;
  padding-bottom: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #e52a6f;
  text-decoration: underline;
  font-weight: 800;
  background-image: none;
  background-repeat: no-repeat;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar ul {
  overflow: hidden;
  float: right;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  color: white; 
  padding: 1 20px; 
  text-decoration: none;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	transition: all .3s;
}

#title-section {
  height: 400px;
  width: 100%;
	background-color: #67aeca;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#about-section {
  height: 400px;
  width: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.section {
	position: relative;
}

.darken {
	position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title {
	position: absolute;
  width: 100%;
  height: 180px;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
}

.body-title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

#upper-title {
	margin-top: 0;
	opacity: 0.9;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 30px;
}

#main-title {
	font-size: 36px;
	font-family: "Open Sans", sans-serif;
}

#body-title {
  color: black;
  margin-top: 0;
  opacity: 0.9;
  font-size: 28px;
  font-family: 'Dosis', sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
}

#bottom-title {
	opacity: 0.9;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  margin-top: 30px;
}